@import "tailwindcss";
@plugin "daisyui" {
  themes: lofi;
}
@plugin "daisyui/theme" {
  name: "lofi";
  --color-primary: rgb(200, 80, 120);
  --radius-field: 0.5rem;
}

@theme {
  --font-sans: "Noto Sans Thai Variable", sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@utility container-sm {
  margin-inline: auto;
  max-width: 1000px;
}

.card-border {
  @apply border-base-300;
}
